* {
  font-family: sans-serif;
}


body {
  margin: 0px;
}

.test-red {
  border: 1px solid  red;
}

.test-blue {
  border: 1px solid  blue;
}

.section {
  padding-left: 10%;
  padding-right: 10%;
}

.dark {
  background-color: #1F2937;
  color: #F9FAF8;
}

.section > .header {
  display: flex;
}

.header .logo {
  width: 40%;
  font-size: 24px;
  display: flex;
}

.logo span {
  display: block;
  align-self: center;
}

.text-primary {
  font-size: 48px;
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.dark .text-secondary {
  font-size: 18px;
  color: #E5E7EB
}

.text-infoheader {
  font-size: 36px;
  font-weight: extra-bold;
  font-family: sans-serif;
}

.menu {
  width: 100%;
}

.menulist {
  display: flex;
  justify-content: flex-end;
}

.menuitem {
  display: block;
  margin: 10px;
}

.spaced {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m10 {
  margin: 10px;
}

.fifty50 {
  display: flex;
}

.fifty {
  width: 50%;
}

.fifty.heroimage {
  overflow: hidden;
}

.hero.fifty {
  padding-right: 10px;
}

.heroimage img {
  max-width: 100%;
  max-height: 100%;
}



.contentboxes {
  display: flex;
  justify-content: center;
}

.contentbox {
  width: 160px;
  box-sizing: border-box;
}

.contentbox .box {
  width: 160px;
  height: 160px;
  box-sizing: border-box;
}

.bordered {
  border: 2px solid;
}

.actioncolor {
  color: #3882F6
}

